<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 绑定一个对应的Dao接口 / mapper接口-->
<mapper namespace="com.hope.mapper.UserMapper">


<!--   resultType sql语句执行的返回值-->
<!--   parameterType 参数类型-->



</mapper>